@import "../abstracts/colors";

.more {
  display: block;
  position: relative;
  font-weight: 500;
  color: $color-text-black;
  padding-left: 20px;

  &::before {
    content: '';
    display: block;
    background: url("../img/more.svg") no-repeat;
    position: absolute;
    top: 4px;
    width: 8px;
    height: 11px;
    left: 0;
    transition: .5s;
  }
}

.more--clicked {
  &::before {
    transform: rotate(-180deg);
  }
}
