@import "../abstracts/mixins";

.services {
  &__title {
    margin-top: 24px;

    @include media(size-medium) {
      margin-top: 32px;
    }

    @include media(size-desktop) {
      margin-top: 51px;
    }
  }
}
