@import "../abstracts/colors";
@import "../abstracts/mixins";

.slider-repairs {
  margin-left: 16px;
  margin-top: 16px;

  @include media(size-medium) {
    display: none;
  }

  .swiper-slide {
    height: 160px;
    width: 100%;
  }
}
