@import "../abstracts/colors";

body, {
  background: $color-background;
  height: 100%;
}

html {
  height: 100%;
}

input {
  min-width: 100%;
  max-width: 100%;
}

textarea {
  min-width: 100%;
  max-width: 100%;
  resize: vertical;
}

.no-scroll {
  overflow: hidden;
}


