$color-background: #F8F8F8;
$color-background-white: #FFFFFF;
$color-text-black: #1B1C21;
$color-text-grey: #7E7E82;
$color-border: #EAEAEA;
$color-nav: #41F6D7;
$color-btn: #FF3E79;
$color-placeholder: #B5B6BC;

$shadow-nav: -2px 0 4px rgba(69, 79, 126, 0.02), 16px 0 52px rgba(14, 24, 80, 0.2);

$gradient-heading-1: linear-gradient(-270deg, #F8F8F8 0%, #FFFFFF 98.61%);
$gradient-heading-2: linear-gradient(-90deg, #F8F8F8 1.39%, #FFFFFF 100%);
