@import "../abstracts/colors";
@import "../abstracts/mixins";

.sidebar {
  min-width: 100%;
  flex: 0 0 auto;
  overflow: auto;
  height: 100%;
  transform: translateX(-100%);
  position: fixed;
  transition: transform 1s, box-shadow 2s;
  z-index: 2;
  background: $color-background-white;

  @include media(size-mobile) {
    height: 100vh;
  }

  @include media(size-medium) {
    min-width: 320px;
    display: block;
  }

  @include media(size-desktop) {
    min-width: 306px;
    opacity: 1;
    transform: translateX(0);
    position: relative;
  }

  &__container {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
  }

  &__header {
    display: flex;
    margin: 18px 16px 22px 16px;

    @include media(size-mobile-wide) {
      margin: 16px 24px 20px 24px;
    }

    @include media(size-medium) {
      margin: 18px 24px 46px 24px;
    }
  }

  &__header-button {
    &:first-child {
      margin-right: 16px;
      @include media(size-desktop) {
        display: none;
      }
    }

    &:last-child {
      margin-left: auto;
    }
  }

  &__item {
    display: flex;
    align-items: center;
      width: 100%;
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }

    @include media(size-medium) {
      margin-bottom: 32px;
    }

    @include media(size-desktop) {
      margin-bottom: 28px;
    }
  }

  &__link {
    position: relative;
    font-weight: 500;
    color: $color-text-black;
    transition: .3s;
    padding-left: 16px;

    @include media(size-mobile-wide) {
      padding-left: 24px;
    }

    &::before {
      content: '';
      transition: .4s;
    }

    &:hover {
      color: $color-text-grey;
    }
  }

  &__link--active::before,
  &__link:hover::before,
  &__link:focus::before,
  &__link:active::before {
    content: '';
    position: absolute;
    height: 32px;
    width: 4px;
    background: $color-nav;
    left: 0;
    top: -6px;
    border-radius: 0 20px 20px 0;
    transition: .3s;
  }

  &__link--active {
    color: $color-text-grey;
  }

  &__footer {
    margin: 32px 16px;

    @include media(size-mobile-wide) {
      margin: 32px 24px;
    }
  }

  &__footer-icons {
    display: flex;
    margin-bottom: 16px;
  }

  &__footer-icon {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  &__email {
    display: block;
    height: 100%;
    width: fit-content;
    font-weight: 500;
    transition: .4s;
    margin-bottom: 12px;

    &:hover {
      color: $color-text-grey;
    }
  }

  &__phone {
    display: block;
    width: fit-content;
    height: 100%;
    font-weight: 700;
    font-size: 24px;
    transition: .4s;
    margin-bottom: 8px;

    @include media(size-medium) {
      margin-bottom: 40px;
    }

    &:hover {
      color: $color-text-grey;
    }
  }

  &__languages {
    display: flex;
  }

  &__language {
    font-weight: 500;
    color: $color-text-black;
    transition: .4s;

    &:hover {
      color: $color-text-grey;
    }
  }

  &__language-item:not(:last-child) {
    margin-right: 7px;
  }

  &__language--active {
    color: $color-text-grey;

    &:not(:last-child) {
      margin-right: 7px;
    }
  }
}

.sidebar--show {
  box-shadow: $shadow-nav;
  transform: translateX(0);
  position: static;
  @include media(size-medium) {
    position: fixed;
  }
}


